* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.mouse {
    width: 25px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 20px;
    display: flex;
    margin: auto;
}

.mouse-whee1 {
    display: block;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    margin: auto;
    animation: move-whee1 1s linear infinite;
}

@keyframes move-whee1 {
    0% {
        opacity: 0;
        transform: translateY(-1rem);
    }

    100% {
        opacity: 1;
        transform: translateY(1rem);
    }
}


.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    margin-top: 100px;
    margin-bottom: 100px;

    }

    .button a {
        text-decoration:none;
        color: #313133;  
    }
  
  button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  button:hover::before, button:focus::before {
    opacity: 1;
  }
  
  button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  button:hover::after, button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }


header {
    background-color: rgba(0, 0, 0, 0.555);
    width: 100%;
    height: 80px;
    color: white;
    position: fixed;
    display: flex;
}

header .container {
    max-width: 1000px;
    display: flex;
    margin: auto;
    
    
}

.home_destaque2 {
    max-width: 1000px;
    display: flex;
    margin: auto;
}


.home_destaque2 .content {
    margin-top: 120px;
    padding: 20px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

.home_left {
    text-align: center;
}

.header_time{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
    font-weight: bold;
    margin: auto;
    
    
}

.header_title_time{
    
    margin: auto 20px;
    flex:1;
    font-size: 14px;
    color: #00FFCB;
    
   
}

.home_destaque {
    background-image: url(../img/3637.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    padding-bottom: 30px;
    clip-path: polygon(
        0% 0%,
        100% 0%,
        100% calc(100% - 30px),
        0% 100%
    );
    border-bottom: 2px solid #000000;

}

.dados_title img {
    width: 120px;
    height: auto;
}

#home_dados {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: center;
    
}

.home_dados_container {
    text-align: center;
    
}

.home_dados_title h1 {
    text-align: center;
    margin: 50px;
    font-size: 2em;
    text-transform: uppercase;
}

article {
    display: flex;
  flex-direction: column;
  margin: 20px;
}

article h1 {
    margin-top: 10px;
    font-size: 30px;
}

article p {
    margin-top: 10px;
}

#departments {
    background-image: url(../img/mesh.png);
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    padding-bottom: 30px;
    clip-path: polygon(
        0% 10%,
        100% 0%,
        100% calc(100% - 30px),
        0% 100%
    );
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;



}


#faq {
    height: 500px;
    margin: 20px;
    display: flex;
    justify-content: center;
}


#faq {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.faq_title_div {
    text-align: center;
    margin: 20px;
   
}

.containera {
    width: 100%;
    max-width: 80rem;
    margin:auto;
    padding: 1.5rem;
}

.containera h1 {
   text-align: center;
   margin-bottom: 30px;
   font-size: 2rem;
}

.accordion-item {
    background-image: url(../img/mesh.png);
    border-radius: .4rem;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: .5rem 2px .5rem rgba(0,0,0,.1);
}

.accordion-link {
    font-size: 1.3rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.678)  ;
    text-decoration: none;
    background-image: url(../img/mesh.png);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.accordion-link i {
    color: #0e0f02;
    padding: .5rem;

}

.accordion-link .ion-md-remove {
    display: none;
}

.answer {
    max-height: 0;
    overflow: hidden;
    position: relative;
    background-image:url(../img/mesh.png);
    transition: max-height 650ms;

}

.answer::before {
    content: "";
    position: absolute;
    width: .6rem;
    height: 90%;
    background-color: #1a1b18;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.answer p{
    color: rgba(0, 0, 0, 0.555);
    font-size: 1.4rem;
    padding: 2rem;

}

.accordion-item:target .answer {
    max-height: 20rem;

}


.accordion-item:target .accordion-link .ion-md-add {
    display: none;
}


.accordion-item:target .accordion-link .ion-md-remove {
    display: block;
}


.swiper {
    width: 350px;
    height: 500px;
    margin-bottom: 50px;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    color: #fff;
    flex-direction: column;
    
  }

  .img_departments img {
    width: 100px;
    height: auto;
    border: 5px solid #ffffff;
    border-radius: 5%;
    
  }

  .title_departments_name h1{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .title_departments_name p {
    text-align: center;
    font-size: 1rem;
    margin: 5px;
  }

  .departments_video {
    margin-bottom: 100px;
  }

  #departments h1 {
    margin-top: 150px;
    margin-bottom: 50px;
    text-align: center;
    color: #fff;
    text-transform:uppercase;
  }



  .swiper-slide:nth-child(1n) {
    background-color: rgb(10, 184, 111);
  }

  .swiper-slide:nth-child(2n) {
    background-color: #1eafd3;
  }

  .swiper-slide:nth-child(3n) {
    background-color: rgb(10, 184, 111);
  }

  .swiper-slide:nth-child(4n) {
    background-color: #1eafd3;
  }
      
  .swiper-slide:nth-child(5n) {
    background-color: rgb(10, 184, 111);
  }



  footer {
    width: 100%;
    background-color: #313133;
    color: rgba(255, 255, 255, 0.678);
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
    border-top: 2px solid #00FFCB;
    
  }

  .alert_footer {
    max-width: 1000px;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #00FFCB;
    margin: auto;
  }

  footer p {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  footer strong{
    margin-left: 20px;
    display: flex;
    text-align: center;
  }

  